*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
  overscroll-behavior-y: none;
  position: relative;
  font-size: 0;
  line-height: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
